MONGO_URI=mongodb+srv://ahmadjonovasilbek624_db_user:gfs4FkuCtCZKTkzr@cluster0.mongodb.net/pharma-distributor?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret
REFRESH_SECRET=your_refresh_secret
PORT=4000
